{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container py-5">

        <form id="search_bookForm" >
            <div class="row g-1 align-items-center">

                  <div class="col-auto m-2">
                    <input type="text" id="search_input" class="form-control" placeholder="Search Book">
                  </div>

                  <div class="col-auto m-2">
                    <button type="submit" class="btn btn-primary"> Search </button>
                  </div>

            </div>
            <br>
            <div class="row " id = "card-container-row">

            </div>
        </form>

    </div>

    <script src="{% static '/templates/js/student_view.js' %}"></script>

{% endblock %}
